In [1]:
import pandas as pd
df = pd.read_csv("./dataset_bike.csv")
df.head()

,date,month,season,hour,year,holiday,temperature,feeling_temp,humidity,winspeed,casual,registered,count,daytime,dayofweek,workingday
0,2011-01-01,1,winter,0,2011,no,3.28,3.0014,81,0.0,3,13,16,am,6,0
1,2011-01-01,1,winter,1,2011,no,2.34,1.9982,80,0.0,8,32,40,am,6,0
2,2011-01-01,1,winter,2,2011,no,2.34,1.9982,80,0.0,5,27,32,am,6,0
3,2011-01-01,1,winter,3,2011,no,3.28,3.0014,75,0.0,3,10,13,am,6,0
4,2011-01-01,1,winter,4,2011,no,3.28,3.0014,75,0.0,0,1,1,am,6,0

In [2]:
import pygwalker as pyg

In [3]:
pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-00060d8320f770863CrhpEgyBlcanwiR" style="height: auto">\n    <head>â€¦